__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
*$py.class

myenv/
env/
venv/

logs/
*.log
*.jsonl
*.csv
logs/*.png

models/checkpoints/
*.bin
*.pt
*.pth

models/lora_finetuned/pytorch_model.bin
models/lora_finetuned/adapter_model.bin

.cache/
huggingface/
transformers/

.DS_Store
Thumbs.db
.vscode/
.idea/

.ipynb_checkpoints/
